// == colors 

$mainColor:#BAD7F2 ;
$secondColor:#F5F1ED;
$thirdColor:#fDEDD9;
$fourthColor:#8B6C72;
$fifthColor:#492E38; 

$titleColor: #000000;

// == fonts-family

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

$text-title:'Eczar', serif;
$text-font:'Quicksand', serif;
$text-quotes:'Charmonman', serif;

