@use 'src/styles/vars';

.field {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  text-align: left;
  margin: 0.5rem 0 0.5rem 0;

  .field-label {
    font-family: vars.$text-quotes;
    width:40vw;
    text-align: center;
  }
  
  .field-input {
    font-family: vars.$text-font;
    width:60vw;
    font-weight: bold;
    justify-self: end;
    border:solid 1px vars.$mainColor;
    border-radius:8px;
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 0.5rem 0 2rem 0;

    &:focus {
      background-color:vars.$fifthColor;
      color:white;
    }
  }
}

